<!DOCTYPE html>
<html lang="ko" 
		xmlns:th="http://www.thymeleaf.org" 
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <th:block th:fragment="default-repository-modal">
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Form Header -->
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">
                            <i class="bi bi-boxes"></i> Modal Title Here
                        </h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- Modal Form Body -->
                    <div id="main-modal-body" class="modal-body">
                        <div id="main-modal-body-repo-info" class="row">
                            <div class="col">                
                                <form class="form-floating">
                                </form>
                            </div>
                            <div class="col" style="border-left: 1px solid lightgray;">
                                <div class="row mb-3">
                                    <div class="input-group input-group-lg mb-3">
                                        <span class="input-group-text"><b>검색</b></span>
                                        <input id="component-keyword" type="text" class="form-control" placeholder="Keyword">
                                        <button class="btn btn-outline-secondary" type="button" th:onclick="search_component(event)"><i class="bi bi-search"></i></button>
                                    </div>
                                </div>
                                <hr>
                                <div class="row mb-3">
                                    <ul id="rootNodes">
                                        <span>ok</span>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Form Footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-target="#confirmDeleteModal" data-bs-toggle="modal">삭제하기</button>
                        <button type="button" class="btn btn-primary">수정하기</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 삭제 확인용 Modal -->
        <div class="modal fade" id="confirmDeleteModal" aria-hidden="true" aria-labelledby="confirmDeleteModalToggleLabel" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="confirmDeleteModalToggleLabel">삭제하시겠습니까?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger" role="alert">
                            저장소가 영구적으로 삭제 됩니다.
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-target="#staticBackdrop" data-bs-toggle="modal">아니요</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="">예</button>
                    </div>
                </div>
            </div>
        </div>
    </th:block>

    <th:block th:fragment="group-repository-modal(repository)">
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Form Header -->
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">
                            <i class="bi bi-boxes"></i> Modal Title Here
                        </h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- Modal Form Body -->
                    <div id="main-modal-body" class="modal-body">
                        <div id="main-modal-body-repo-info" class="row">
                            <div class="col">                
                                <form class="form-floating">
                                    <!-- Default Info -->
                                    <fieldset class="form-fieldset mb-3" >
                                        <legend><b>기본정보</b></legend>
                                        <hr>
                                        <div class="row mb-3">
                                            <label for="repo-name" class="col-sm-2 col-form-label"><b>Name</b></label>
                                            <div class="col-sm-10">
                                                <input id="repo-name" class="form-control" type="text" th:value="${repository.name}" readonly>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="repo-format" class="col-sm-2 col-form-label"><b>Format</b></label>
                                            <div class="col-sm-10">
                                                <input id="repo-format" class="form-control" type="text" th:value="${repository.format}" readonly>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="repo-type" class="col-sm-2 col-form-label"><b>Type</b></label>
                                            <div class="col-sm-10">
                                                <input id="repo-type" class="form-control" type="text" th:value="${repository.type}" readonly>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="repo-url" class="col-sm-2 col-form-label"><b>URL</b></label>
                                            <div class="col-sm-10">
                                                <input id="repo-url" class="form-control" type="text" th:value="${repository.url}" readonly>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="repo-online" class="col-sm-2 col-form-label"><b>Online</b></label>
                                            <div class="col-sm-10 mt-2">
                                                <div class="d-flex align-items-center form-check form-switch">
                                                    <input id="repo-online" class="form-check-input" type="checkbox" role="switch" th:check="${repository.online}" disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="components" class="col-sm-2 mt-1"><b>Component 수</b></label>
                                            <div class="col-sm-10">
                                                <input id="components" class="form-control" type="text" value="1024">
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="assets" class="col-sm-2 mt-1"><b>Asset 수</b></label>
                                            <div class="col-sm-10">
                                                <input id="assets" class="form-control" type="text" value="1024">
                                            </div>
                                        </div>
                                    </fieldset>

                                    <!-- Format form filedset -->
                                    <fieldset class="form-fieldset mb-3 fieldset-by-format">

                                    </fieldset>

                                    <!-- Storage fieldset -->
                                    <fieldset class="form-fieldset mb-3">
                                        <legend><b>Storage 정보</b></legend>
                                        <hr>
                                        <div class="row mb-3">
                                            <label for="storage-name" class="col-sm-4 mt-1"><b>Blob store</b></label>
                                            <div class="col-sm-8">
                                                <input id="storage-name" class="form-control" type="text" th:value="${repository.storage.blobStoreName}" readonly>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="storage-strict-content-type-validation" class="col-sm-4 mt-1"><b>Strict Content Type Validation</b></label>
                                            <div class="col-sm-8">
                                                <div class="d-flex align-items-center form-check form-switch">
                                                    <input id="storage-strict-content-type-validation" class="form-check-input" type="checkbox" role="switch" th:checked="${repository.storage.strictContentTypeValidation}" disabled>
                                                    <label for="storage-strict-content-type-validation">
                                                        업로드 되는 모든 컨텐츠가 알맞는 형태로 되어있는지 유효성을 검사합니다.
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="storage-write-policy" class="col-sm-4 mt-1"><b>Write Policy</b></label>
                                            <div class="col-sm-8">
                                                <input id="storage-write-policy" class="form-control" type="text" th:value="${repository.storage.writePolicy}" readonly>
                                            </div>
                                        </div>
                                    </fieldset>

                                    <!-- Group fieldset -->
                                    <fieldset class="form-fieldset mb-3">
                                        <legend><b>Group</b></legend>
                                        <hr>
                                        <div class="row mb-3" th:each="memberRepository : ${repository.group.memberNames}">
                                            <p th:text="${memberRepository}"></p>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                            <div class="col" style="border-left: 1px solid lightgray;">
                                <div class="row mb-3">
                                    <div class="input-group input-group-lg mb-3">
                                        <span class="input-group-text"><b>검색</b></span>
                                        <input id="component-keyword" type="text" class="form-control" placeholder="Keyword">
                                        <button class="btn btn-outline-secondary" type="button" th:onclick="search_component(event)"><i class="bi bi-search"></i></button>
                                    </div>
                                </div>
                                <hr>
                                <div class="row mb-3">
                                    <ul id="rootNodes">
                                        <span>ok</span>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Form Footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-target="#confirmDeleteModal" data-bs-toggle="modal">삭제하기</button>
                        <button type="button" class="btn btn-primary">수정하기</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 삭제 확인용 Modal -->
        <div class="modal fade" id="confirmDeleteModal" aria-hidden="true" aria-labelledby="confirmDeleteModalToggleLabel" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="confirmDeleteModalToggleLabel">삭제하시겠습니까?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger" role="alert">
                            저장소가 영구적으로 삭제 됩니다.
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-target="#staticBackdrop" data-bs-toggle="modal">아니요</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="">예</button>
                    </div>
                </div>
            </div>
        </div>
    </th:block>

    <th:block th:fragment="hosted-repository-modal(repository)">
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Form Header -->
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">
                            <i class="bi bi-boxes"></i> Modal Title Here
                        </h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- Modal Form Body -->
                    <div id="main-modal-body" class="modal-body">
                        <div id="main-modal-body-repo-info" class="row">
                            <div class="col">                
                                <form class="form-floating">
                                    <!-- Default Info -->
                                    <fieldset class="form-fieldset mb-3" >
                                        <legend><b>기본정보</b></legend>
                                        <hr>
                                        <div class="row mb-3">
                                            <label for="repo-name" class="col-sm-2 col-form-label"><b>Name</b></label>
                                            <div class="col-sm-10">
                                                <input id="repo-name" class="form-control" type="text" th:value="${repository.name}" readonly>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="repo-format" class="col-sm-2 col-form-label"><b>Format</b></label>
                                            <div class="col-sm-10">
                                                <input id="repo-format" class="form-control" type="text" th:value="${repository.format}" readonly>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="repo-type" class="col-sm-2 col-form-label"><b>Type</b></label>
                                            <div class="col-sm-10">
                                                <input id="repo-type" class="form-control" type="text" th:value="${repository.type}" readonly>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="repo-url" class="col-sm-2 col-form-label"><b>URL</b></label>
                                            <div class="col-sm-10">
                                                <input id="repo-url" class="form-control" type="text" th:value="${repository.url}" readonly>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="repo-online" class="col-sm-2 col-form-label"><b>Online</b></label>
                                            <div class="col-sm-10 mt-2">
                                                <div class="d-flex align-items-center form-check form-switch">
                                                    <input id="repo-online" class="form-check-input" type="checkbox" role="switch" th:check="${repository.online}" disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="components" class="col-sm-2 mt-1"><b>Component 수</b></label>
                                            <div class="col-sm-10">
                                                <input id="components" class="form-control" type="text" value="1024">
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="assets" class="col-sm-2 mt-1"><b>Asset 수</b></label>
                                            <div class="col-sm-10">
                                                <input id="assets" class="form-control" type="text" value="1024">
                                            </div>
                                        </div>
                                    </fieldset>

                                    <!-- Format form filedset -->
                                    <fieldset class="form-fieldset mb-3 fieldset-by-format">

                                    </fieldset>

                                    <!-- Storage -->
                                    <fieldset class="form-fieldset mb-3" >
                                        <legend><b>Storage 정보</b></legend>
                                        <hr>
                                        <div class="row mb-3">
                                            <label for="storage-name" class="col-sm-4 mt-1"><b>Blob store</b></label>
                                            <div class="col-sm-8">
                                                <input id="storage-name" class="form-control" type="text" th:value="${repository.storage.blobStoreName}" readonly>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="storage-strict-content-type-validation" class="col-sm-4 mt-1"><b>Strict Content Type Validation</b></label>
                                            <div class="col-sm-8">
                                                <div class="d-flex align-items-center form-check form-switch">
                                                    <input id="storage-strict-content-type-validation" class="form-check-input" type="checkbox" role="switch" th:checked="${repository.storage.strictContentTypeValidation}" disabled>
                                                    <label for="storage-strict-content-type-validation">
                                                        업로드 되는 모든 컨텐츠가 알맞는 형태로 되어있는지 유효성을 검사합니다.
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="storage-write-policy" class="col-sm-4 mt-1"><b>Write Policy</b></label>
                                            <div class="col-sm-8">
                                                <input id="storage-write-policy" class="form-control" type="text" th:value="${repository.storage.writePolicy}" readonly>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <!-- Hosted -->
                                    <fieldset class="form-fieldset mb-3" >
                                        <legend><b>Hosted</b></legend>
                                        <hr>
                                        <div class="row mb-3">
                                            <label for="hosted-deployment-policy" class="col-sm-3 mt-1" text-truncate><b>Remote storage</b></label>
                                            <div class="col-sm-9">
                                                <input id="hosted-deployment-policy" class="form-control" type="text">
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="hosted-proprietary-components" class="col-sm-2 col-form-label"><b>Online</b></label>
                                            <div class="col-sm-10 mt-2">
                                                <div class="d-flex align-items-center form-check form-switch">
                                                    <input id="hosted-proprietary-components" class="form-check-input" type="checkbox" role="switch" th:check="${repository.component.proprietaryComponents}" disabled>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <!-- Cleanup -->
                                    <fieldset class="form-fieldset mb-3" >
                                        <legend><b>Cleanup</b></legend>
                                        <hr>
                                        <div class="row mb-3">
                                            <label for="cleanup-policies" class="col-sm-3 mt-1" text-truncate><b>Remote storage</b></label>
                                            <div class="col-sm-9">
                                                <input id="cleanup-policies" class="form-control" type="text">
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                            <div class="col" style="border-left: 1px solid lightgray;">
                                <div class="row mb-3">
                                    <div class="input-group input-group-lg mb-3">
                                        <span class="input-group-text"><b>검색</b></span>
                                        <input id="component-keyword" type="text" class="form-control" placeholder="Keyword">
                                        <button class="btn btn-outline-secondary" type="button" th:onclick="search_component(event)"><i class="bi bi-search"></i></button>
                                    </div>
                                </div>
                                <hr>
                                <div class="row mb-3">
                                    <ul id="rootNodes">
                                        <span>ok</span>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Form Footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-target="#confirmDeleteModal" data-bs-toggle="modal">삭제하기</button>
                        <button type="button" class="btn btn-primary">수정하기</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 삭제 확인용 Modal -->
        <div class="modal fade" id="confirmDeleteModal" aria-hidden="true" aria-labelledby="confirmDeleteModalToggleLabel" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="confirmDeleteModalToggleLabel">삭제하시겠습니까?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger" role="alert">
                            저장소가 영구적으로 삭제 됩니다.
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-target="#staticBackdrop" data-bs-toggle="modal">아니요</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="">예</button>
                    </div>
                </div>
            </div>
        </div>
    </th:block>

    <th:block th:fragment="proxy-repository-modal(repository)">
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Form Header -->
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">
                            <i class="bi bi-boxes"></i> Modal Title Here
                        </h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- Modal Form Body -->
                    <div id="main-modal-body" class="modal-body">
                        <div id="main-modal-body-repo-info" class="row">
                            <div class="col">                
                                <form class="form-floating">
                                    <!-- Default info formfield -->
                                    <fieldset class="form-fieldset mb-3">
                                        
                                    </fieldset>

                                    <!-- Format formfield -->
                                    <fieldset class="form-fieldset mb-3 fieldset-by-format">
                                        
                                    </fieldset>

                                    <!-- Proxy formfield -->
                                    <fieldset class="form-fieldset mb-3">
                                        
                                    </fieldset>

                                    <!-- Storage formfield -->
                                    <fieldset class="form-fieldset mb-3">
                                        
                                    </fieldset>

                                    <!-- RoutingRule formfield -->
                                    <fieldset class="form-fieldset mb-3">
                                        
                                    </fieldset>

                                    <!-- NegativeCache formfield -->
                                    <fieldset class="form-fieldset mb-3">
                                        
                                    </fieldset>

                                    <!-- Cleanup formfield -->
                                    <fieldset class="form-fieldset mb-3">
                                        
                                    </fieldset>

                                    <!-- Http formfield -->
                                    <fieldset class="form-fieldset mb-3">
                                        
                                    </fieldset>

                                </form>
                            </div>
                            <div class="col" style="border-left: 1px solid lightgray;">
                                <div class="row mb-3">
                                    <div class="input-group input-group-lg mb-3">
                                        <span class="input-group-text"><b>검색</b></span>
                                        <input type="text" class="form-control" placeholder="Keyword">
                                        <button class="btn btn-outline-secondary" type="button"><i class="bi bi-search"></i></button>
                                    </div>
                                </div>
                                <hr>
                                <div class="row mb-3">
                                    <ul id="rootNodes">
                                        <span>ok</span>
                                        <!-- <li>1</li>
                                        <ul>
                                            <span>ki</span>
                                            <li>2</li>
                                            <ul span>
                                                hi
                                                <li>3</li>
                                            </ul>
                                        </ul> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Form Footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-target="#confirmDeleteModal" data-bs-toggle="modal">삭제하기</button>
                        <button type="button" class="btn btn-primary">수정하기</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 삭제 확인용 Modal -->
        <div class="modal fade" id="confirmDeleteModal" aria-hidden="true" aria-labelledby="confirmDeleteModalToggleLabel" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="confirmDeleteModalToggleLabel">삭제하시겠습니까?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger" role="alert">
                            저장소가 영구적으로 삭제 됩니다.
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-target="#staticBackdrop" data-bs-toggle="modal">아니요</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="">예</button>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</html>