<!DOCTYPE html>
<html lang="ko"
		xmlns:th="http://www.thymeleaf.org"
        layout:decorate="~{layout/main}">
    <th:block layout:fragment="stylesheet">
        <link th:href="@{/css/browse/repositories.css}" rel="stylesheet">
    </th:block>

    <div layout:fragment="content-with-sidebar">
        <nav th:replace="~{fragments/breadcrumb :: main-breadcrumb('Browse','Repositories') }"></nav>

        <div th:replace="~{pages/browse/repositories/repositories-dataList}"></div>

        <div th:replace="~{pages/browse/repositories/repositories-modal}"></div>

        <div th:replace="~{fragments/toast :: main-toast}"></div>
    </div>

    <th:block layout:fragment="script">
        <!-- 저장소 링크 복사 버튼용 Script -->
        <script type="text/javascript" th:inline="javascript">
            // 저장소 URL 복사버튼 동작 Script
            async function copy_to_clipboard(event) {
                const targetElement = event.target.parentNode.querySelector(".url");

                if(navigator.clipboard && window.isSecureContext) {
                    await navigator.clipboard.writeText(targetElement.value);
                } else {
                    const textArea = document.createElement("textarea");

                    textArea.value = targetElement.value;

                    textArea.style.position = "absolute";
                    textArea.style.left = "-999999px";

                    document.body.prepend(textArea);
                    textArea.select();

                    try {
                        document.execCommand('copy');
                    } catch (err) {
                        console.error(err);
                    } finally {
                        textArea.remove();
                    }
                }

                const toastTrigger = event.target;
                const toastPanel = document.getElementById('browseToast')

                if (toastTrigger) {
                    bootstrap.Toast.getOrCreateInstance(toastPanel).show()
                }
            }
        </script>

        <!-- 저장소 Modal Form용 Script -->
        <script type="text/javascript" th:inline="javascript">
            // 저장소 목록 데이터
            const protocol = window.location.protocol;
            const hostname = window.location.hostname;
            const port = window.location.port;

            function toggle_modal(event, object) {
                const modalTitle = document.getElementsByClassName("modal-title")[0];

                modalTitle.innerHTML = `<i class="bi bi-boxes"></i> ${object.name}`;

                document.getElementById("repo-name").value = object.name;
                document.getElementById("repo-format").value = object.format;
                document.getElementById("repo-type").value = object.type;
                document.getElementById("repo-url").value = object.url;
                document.getElementById("repo-online").checked = object.status.online;

                let mainModalRepoRemoteStorage = document.getElementById("repo-remote-storage");
                let mainModalRepoBlocked = document.getElementById("repo-blocked");
                let mainModalRepoAutoBlockingEnabled = document.getElementById("repo-auto-blocking-enabled");

                let mainModalRepoMaximumComponentAge = document.getElementById("repo-maximum-component-age");
                let mainModalRepoMaximumMetadataAge = document.getElementById("repo-maximum-metadata-age");

                let mainModalRepoBlobStore = document.getElementById("repo-blobstore");
                let mainModalRepoStrictContentTypeValidation = document.getElementById("repo-strict-content-type-validation");

                let mainModalRepoNotFoundCacheEnabled = document.getElementById("repo-not-found-cache-enabled");
                let mainModalRepoNotFoundCacheTTL = document.getElementById("repo-not-found-cache-ttl");

                axios.get(`${protocol}//${hostname}:${port}/browse/repository/${object.format}/${object.type}/${object.name}`)
                        .then(res => {
                            mainModalRepoRemoteStorage.value = res.data.proxy.remoteUrl;
                            mainModalRepoBlocked.checked = res.data.httpClient.blocked;
                            mainModalRepoAutoBlockingEnabled.checked = res.data.httpClient.autoBlock;

                            mainModalRepoMaximumComponentAge.value = res.data.proxy.contentMaxAge;
                            mainModalRepoMaximumMetadataAge.value = res.data.proxy.metadataMaxAge;

                            mainModalRepoBlobStore.value = res.data.storage.blobStoreName;
                            mainModalRepoStrictContentTypeValidation.checked = res.data.storage.strictContentTypeValidation;

                            mainModalRepoNotFoundCacheEnabled.checked = res.data.negativeCache.enabled;
                            mainModalRepoNotFoundCacheTTL.value = res.data.negativeCache.timeToLive;
                        });
            }
        </script>
    </th:block>
</html>