<!DOCTYPE html>
<html lang="ko"
		xmlns:th="http://www.thymeleaf.org"
        layout:decorate="~{layout/main}">
    <th:block layout:fragment="stylesheet">
        <link th:href="@{/css/browse/child.css}" rel="stylesheet">
    </th:block>

    <div layout:fragment="content-with-sidebar">
            <div th:if="${browseNode}">
                <ul class="list-group" th:each="node : ${browseNode}">
                    <li class="list-group-item" th:name="${repositoryName}" th:id="${node.id}" th:text="${node.text}" th:onclick="location_tab_move(this.getAttribute('name'), this.getAttribute('id'))">data</li>
                </ul>
            </div>
            <div th:unless="${browseNode}">
                <ul class="list-group" th:each="repository : ${repositoryList}">
                    <li class="list-group-item" th:name="${repository.name}" th:text="${repository.name}" th:onclick="location_tab_move(this.getAttribute('name'),'/')"></li>
                </ul>
            </div>
    </div>

    <th:block layout:fragment="script">
        <script type="text/javascript" th:inline="javascript">
            function location_tab_move(name, id) {
                location.href=`tree?repositoryName=${name}&nodeId=${id}`;
            }
        </script>
    </th:block>
</html>