#main-navbar {
    background-color: white;
}

#main-navbar a {
    color: black
}

#main-navbar a:hover {
    color: lightgray;
}

.navbar-custom {
    background-color: white;
    color: #ffffff; 
    font-size: 18px;

    border-bottom: 1px solid;
    box-shadow: 1px 1px 20px 10px lightgray;
}