.navbar-custom {
    background-color: #0080ff; /* Set the background color to blue */
    color: #ffffff; /* Set the text color to white */
    font-size: 18px;
    /* Add any other custom styles you want */
}