#main-sidebar a {
    color: black;
}

#main-sidebar a:hover {
    color: lightgray;
}

#browseCollapseItems > .nav-link {
    background-color: white !important;
}

@media (max-width: 1024px) {
    #main-sidebar > nav {
        display: none;
    }
}