<!DOCTYPE html>
<html lang="ko"
		xmlns:th="http://www.thymeleaf.org"
        layout:decorate="~{layout/main}">
    <th:block layout:fragment="stylesheet">
        <link th:href="@{/css/viewmanagement.css}" rel="stylesheet">
    </th:block>

    <div layout:fragment="content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="form-container">
                        <h2>화면 관리</h2>
                        <label for="screenName">화면명</label>
                        <input type="text" id="screenName" placeholder="화면명을 입력하세요">
        
                        <label for="screenType">화면 유형</label>
                        <select id="screenType">
                            <option value="web">Web</option>
                            <option value="mobile">Mobile</option>
                        </select>
        
                        <label for="screenDescription">화면 설명</label>
                        <textarea id="screenDescription" placeholder="화면 설명을 입력하세요"></textarea>
        
                        <button type="submit">저장</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>
