<!DOCTYPE html>
<html lang="ko"
		xmlns:th="http://www.thymeleaf.org"
        layout:decorate="~{layout/main}">
    <nav layout:fragment="sidebar">
        <nav th:insert="~{fragments/sidebar :: main-sidebar}"></nav>
    </nav>

    <div layout:fragment="content-with-sidebar">
        <h1> 게시판 콘텐츠 블록.</h1>
        <img th:src="@{/img/osclogo.png}" alt="Your Logo" height="30">
            <!-- 콘텐츠 블록에 표 형태로 게시물 리스트 추가 -->
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>글번호</th>
                <th>글제목</th>
                <th>작성자</th>
                <th>작성 날짜</th>
                <th>조회수</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>첫 번째 게시물</td>
                <td>글쓴이1</td>
                <td>2023년 7월 26일</td>
                <td>100</td>
            </tr>
            <tr>
                <td>2</td>
                <td>두 번째 게시물</td>
                <td>글쓴이2</td>
                <td>2023년 7월 27일</td>
                <td>85</td>
            </tr>
            <tr>
                <td>3</td>
                <td>세 번째 게시물</td>
                <td>글쓴이3</td>
                <td>2023년 7월 28일</td>
                <td>42</td>
            </tr>
            <tr>
                <td>4</td>
                <td>네 번째 게시물</td>
                <td>글쓴이4</td>
                <td>2023년 7월 28일</td>
                <td>42</td>
            </tr>
            <tr>
                <td>5</td>
                <td>다섯 번째 게시물</td>
                <td>글쓴이3</td>
                <td>2023년 7월 28일</td>
                <td>42</td>
            </tr>
            <!-- 추가적인 게시물 리스트를 여기에 추가하면 됩니다. -->
            </tbody>
        </table>
    </div>
</html>


